.contact {
    display: flex;
    justify-content: space-between;
    height: auto;
    background: linear-gradient(90deg, #fcd1c2, #fff);
  }
  
  .contact__img img {
    max-width: 556px;
    height: 100%;
    width: 100%;
  }
  
  .contact__form {
    margin-left: 5%;
    padding-top: 104px;
  }
  
  .form__title {
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
  }
  
  .form__text {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    max-width: 740px;
    width: 100%;
  }
  
  .form {
    display: flex;
    width: 520px;
    height: 70px;
    margin: 0 auto;
  }
  
  .form input {
    border: 1px solid #000;
    width: 315px;
    padding-left: 20px;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 70px;
    color: #000;
  }
  
  .form button {
    width: 205px;
    background: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    height: 70px;
  }
  
  .form button:hover {
    background: #8a5137;
  }
  
  .form input::placeholder {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 70px;
    color: #000;
    opacity: 0.5;
  }
  