.insta {
  height: 575px;
  padding-top: 115px;
}

.insta__title {
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 84%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 65px;
}

.insta__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.insta-slider {
  width: 1330px;
}

.insta__slide img {
  max-width: 213px;
  width: 100%;
  transition: transform linear 0.4s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.left,
.right {
  cursor: pointer;
  padding: 30px;
}

.insta__sub {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.insta__sub p {
  margin-left: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 125.5%;
  color: #000;
}
