.shop__score {
  position: absolute;
  background: #000;
  border-radius: 50%;
  width: 14px;
  height: 15px;
  right: -5px;
  top: 35%;
}

.shop__score p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #fff;
}
